@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #130e23;
}
section .text {
  position: relative;
  text-align: justify;
  color: #00cefe;
  margin: 60px;
  max-width: 650px;
  font-size: 20px;
}
section .text span {
  position: relative;
  display: inline-block;
}

/* Header CSS */
body {
  margin:0px;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#130e23;
}
.text-typing {
  padding:20px 30px;
  background:#00cefe;
  font-size:35px;
  font-family:monospace;
  border-radius:50px;
}
.text-typing p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 4s steps(22,end) forwards,
            blink 1s infinite;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}

#divBlue {
    position: relative;
    top: -250px;
    background-color: rgb(107, 233, 233);
    width: 60px;
    min-height: 10px;
    max-height: 50px;
    margin: 5px;
    padding: 2px;            
  }